html {
    /* POSITION/SIZE FOR FIXED FOOTER */
    position: relative;
    min-height: 100%;
}

body{
    /*MOBILE-FIRST SIZING BACKGROUND */

    background-size: 300%;
}

.card {
    background: #f2f2f2;
}

.card img {
    max-width: 100%;
}